@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <div class="tx">
        <h1 class="display-4 text-capitalize text-black">U want Pizza sir?</h1>
        <p>Best Pizza Ever here in Pizza-Arena</p>
    </div>
    <img class="mainImage" src="~/images/oiza.jpg" />
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="/Checkout/Thanks">Gemmieee that pizza</a>

</div>
